<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../homepage/hpstyle.css">
    <link rel="stylesheet" href="ahbeng.css">

    <!-- Lato (sans serif) Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- font-awesome icons -->
    <script src="https://kit.fontawesome.com/2106885bd0.js" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- for recaptcha --> 
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGFQIjAAAAAJm-kH4OKEImTo3Brw-jdGPQmiwH"></script>

    <title>HomeMate Singapore | Hire The Best Contractors</title>
    <link rel="shortcut icon" href="../../images/favicon_io/favicon.ico">
</head>
<body onload="checkContractoronLoad()">

<div class="main">
<nav class="navbar navbar-expand-sm navbar-dark">

    <div class="container">
        <!-- Logo from Bootstrap Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg>
        <!-- Brand Name -->
        <a href="../homepage/homepage.html" class="navbar-brand" >
            <p class="text-navbar" style="margin-top: 8px; font-size: 24px;">&nbsp;homemate</p>
        </a>

        <!-- Navbar Toggler Icon for smaller devices -->
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Options -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a href="../homepage/homepage.html" class="nav-link text-navbar">
                        Home
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="../booking/booking.html" class="nav-link text-navbar">
                        Bookings
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="../profile/profile.html" class="nav-link text-navbar">
                        Profile
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../../index.html" onclick="signUserOut()" class="nav-link text-navbar">
                        Log Out
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a href="#about" class="nav-link text-navbar">
                        Calendar
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#services" class="nav-link text-navbar">
                        <i class="bi bi-chat"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#services" class="nav-link text-navbar">
                        <i class="bi bi-cart"></i>
                    </a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>

<div class="container w-75">
    <div class="row m-3">
        <div class="card mb-3 p-2">
            <div class="row g-0" v-for="details, name in painter_information">
                <div class="col-md-3" v-if="currentContractor == name">
                    <img :src="details[0]" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-9" v-if="currentContractor == name">

                    <!-- if session contractor matches -->
                    <div class="card-body py-1 px-3">
                        <h4 class="card-title">{{name}}</h4>
                        <p class="card-text">Rating: <span v-html="details[3]"></span></p>

                        <p class="card-text" v-if="details[1] == 'Fast'">
                            <i class="bi bi-lightning-charge" style="color:green"></i> 
                            Delivery Time: <span class='fw-bold' style="color:green">{{details[1]}}</span>
                        </p>
                        <p class="card-text" v-else-if="details[1] == 'Moderate'">
                            <i class="bi bi-lightning-charge" style="color:goldenrod"></i> 
                            Delivery Time: <span class='fw-bold' style="color:goldenrod">{{details[1]}}</span>
                        </p>
                        <p class="card-text" v-else>
                            <i class="bi bi-lightning-charge" style="color:red"></i> 
                            Delivery Time: <span class='fw-bold' style="color:red">{{details[1]}}</span>
                        </p>

                        <p v-if="details[2] == 'Responsive'">
                            <i class="bi bi-chat-right-dots" style="color: green;"></i>
                            Response Rate: <span class='fw-bold' style="color: green;">{{details[2]}}</span>
                        </p>
                        <p v-else-if="details[2] == 'Moderate'">
                            <i class="bi bi-chat-right-dots" style="color: goldenrod;"></i>
                            Response Rate: <span class='fw-bold' style="color: goldenrod;">{{details[2]}}</span>
                        </p>
                        <p v-else>
                            <i class="bi bi-chat-right-dots" style="color: red;"></i>
                            Response Rate: <span class='fw-bold' style="color: red;">{{details[2]}}</span>
                        </p>

                        <p class="card-text">Whatsapp: {{details[6]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Telegram: {{details[7]}}</p>

                        <div class="row">
                            <p class="card-text col-9">Service(s) offered: {{details[8].join(', ')}}</p>

                            <button type="button" class="btn btn-success col-3" v-if="!isBook" @click="isBook = !isBook">Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- if no session contractor is set -->
            <!-- <div class="row g-0" v-else>
                <div class="col-md-3">
                    <img src="../../images/contractorpic1.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body pt-1 px-3">
                        <h4 class="card-title">Ah Beng Services</h4>
                        <p class="card-text">Rating: 
                            <span>
                            <i class="bi bi-star-fill pri-color"></i>
                            <i class="bi bi-star-fill pri-color"></i>
                            <i class="bi bi-star-fill pri-color"></i>
                            <i class="bi bi-star-fill pri-color"></i>
                            <i class="bi bi-star-half pri-color"></i>
                            </span>
                        </p>

                        <p class="card-text"><i class="bi bi-lightning-charge"></i> Delivery Time: Fast &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-chat-right-dots"></i> Response Rate: Responsive</p>

                        <p class="card-text">Whatsapp: 9123 4567 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Telegram: @ahbengservices</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- review section -->
<div class="container" v-if="!isBook">
    <h3>Reviews from past customers</h3>
    <div class="card comment-card my-3" v-for="review in review_arr">
        <h6 class="card-title mx-3 mt-3 mb-2">
            {{ review["user"] }}
            <span class="mx-2">
                <i class="bi bi-star-fill pri-color" v-for="star in parseInt(review['rating'])"></i>
            </span>
        </h6>

            
        <div class="card-body px-3 py-2">
            {{ review["review"] }}
        </div>
    </div>
</div>

<!-- availability selection -->
<div class="container shadow w-75 py-5" v-if="isBook">
    <p class="text-muted text-center">*Please fill in details for an accurate quote</p>
    
    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 col-sm-12">
            <label for="houseType">House Type*</label>
            <select class="form-select" aria-label="Default select example" id="houseType">
                <option selected disabled>Select Housing Type</option>
                <option value="Public Housing (HDB)">Public Housing (HDB)</option>
                <option value="Public-Private Hybrid (Exec)">Public-Private Hybrid (Exec)</option>
                <option value="Private Housing (Condominium)">Private Housing (Condominium)</option>
                <option value="Private Housing (Landed)">Private Housing (Landed)</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 col-sm-12">
            <label for="postalCode">Postal Code*</label>
            <input class="form-control" type="number" id="postalCode" v-model="postal_code" @keyup="validatePostal" aria-describedby="postalCodeFeedback" required>
            <div v-html="validationMsg">
            </div>
        </div>

    </div>


    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 col-sm-12">
            <label for="postalCode">Address*</label>
            <input class="form-control" type="text" id="address" v-model="address">
        </div>
    </div>

    <div class="row justify-content-center" v-for="details, name in painter_information">
        <div class="col-lg-6 col-sm-12 mt-4" v-if="currentContractor == name">
            <label for="postalCode">Select Service:*</label>
            <select class="form-select" aria-label="Default select example" id="selected_service" v-model="currentService">
                <option selected disabled>Select Service</option>
                <option v-for="service of details[8]" :value="service">{{service}}</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center mt-4" v-if="currentService == 'Painting'">
        <div class="col-lg-6 col-sm-12">
            <label for="paintBrand">Paint Brand*</label>
            <select class="form-select" aria-label="Default select example" id="paintBrand" v-model="selected_brand">
                <option selected disabled>Select Paint Brand</option>
                <option value="Nippon Paint">Nippon Paint</option>
                <option value="Dulux Paints">Dulux Paints</option>
                <option value="Asian Paints">Asian Paints</option>
                <option value="Gush Paints">Gush Paints</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center mt-4" v-if="currentService == 'Painting'">
        <div class="col-lg-6 col-sm-12">
            <label for="paintColours">Paint Colours*</label>
            <select class="form-select" aria-label="Default select example" id="paintColours" v-if="selected_brand == 'Nippon Paint'">
                <option selected disabled>Select Paint Colour</option>
                <option v-for="color of nippon_paints" :value="color">{{color}}</option>
                <option disabled>Want more paint colors? Contact Us!</option>
            </select>

            <select class="form-select" aria-label="Default select example" id="paintColours" v-if="selected_brand == 'Dulux Paints'">
                <option selected disabled>Select Paint Colour</option>
                <option v-for="color of dulux_paints" :value="color">{{color}}</option>
                <option disabled>Want more paint colors? Contact Us!</option>
            </select>

            <select class="form-select" aria-label="Default select example" id="paintColours" v-if="selected_brand == 'Asian Paints'">
                <option selected disabled>Select Paint Colour</option>
                <option v-for="color of asian_paints" :value="color">{{color}}</option>
                <option disabled>Want more paint colors? Contact Us!</option>
            </select>

            <select class="form-select" aria-label="Default select example" id="paintColours" v-if="selected_brand == 'Gush Paints'">
                <option selected disabled>Select Paint Colour</option>
                <option v-for="color of gush_paints" :value="color">{{color}}</option>
                <option disabled>Want more paint colors? Contact Us!</option>
            </select>
        </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-lg-3 col-sm-6">
            <label for="startDate">Date*</label>
            <input id="startDate" class="form-control" type="date" />
        </div>
        <div class="col-lg-3 col-sm-6">
            <!-- <label for="startTime">Time*</label>
            <input id="startTime" class="form-control" type="time" step="600"/> -->
            <label for="startTime">Time of Delivery (24h)*: </label>
            <select class="form-select"id="startTime">
                <option value="07:00">07:00</option>
                <option value="07:30">07:30</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 col-sm-12">
            <label for="addRequests">Note for Contractor:</label>
            <textarea class="form-control" aria-label="With textarea" id="addRequests" placeholder="Call when you reach, any special arrangements, etc..?"></textarea>
        </div>
    </div>

    <div class="row justify-content-center mt-4" v-if="currentService != 'Painting'">
        <div class="col-lg-6 col-sm-12">
            <p class="text-muted">Contact the contractor for more service customisations!</p>
        </div>
    </div>

    <div class="row justify-content-center text-center mt-4">
        <div class="col-lg-2 col-sm-4 my-2">
            <a href="../contractor/conpage.html">
                <button class="btn btn-danger rounded-pill" style="font-weight: bold; width: 150px;">&nbsp;&nbsp; <i class="bi bi-x-lg"></i> Back &nbsp;&nbsp;</button>
            </a>
            
        </div>
        <!-- <div class="col-lg-2 col-sm-4 text-center">
            <button type="button" class="btn rounded-pill" style="font-weight: bold; background-color: #19a0e6; color:white;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
                Add to Cart
            </button>
        </div> -->
        <div class="col-lg-2 col-sm-4 my-2">
            <button type="button" class="btn btn-success rounded-pill" style="font-weight: bold; width: 150px;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
                Submit Details <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <p id="status" class="text-center" style="color: red;"></p>
</div>
</div>

<!-- Modal for cart-->
<!-- <div class="modal fade" id="exampleModalCenter1" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to add to cart?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger rounded-pill" style="font-weight: bold;" data-bs-dismiss="modal">Close</button>
            <a href="../cart/cart.html"><button type="button" class="btn btn-success rounded-pill" style="font-weight: bold;">
                Proceed
            </button></a>
        </div>
        </div>
    </div>
</div> -->

<!-- Modal for submit-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to submit this request?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger rounded-pill" style="font-weight: bold;" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success rounded-pill" style="font-weight: bold;" onclick="addBookingDetails()" data-bs-dismiss="modal">
                Proceed
            </button>
            <!-- <a href="../booking/booking.html"></a> -->
        </div>
        </div>
    </div>
</div>
    
<!-- Wave -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#19A0E6" fill-opacity="1" d="M0,256L48,224C96,192,192,128,288,117.3C384,107,480,149,576,181.3C672,213,768,235,864,240C960,245,1056,235,1152,213.3C1248,192,1344,160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

<!-- About Us -->
<section class="p-5" style="background-color: #19A0E6;">

    <!-- Contact Footer -->
        <div class="container" id="contact">
            <div class="row mx-auto">
                <div class="contact-left mx-auto">
                    <h1 class="sub-title">Contact Us!</h1>
                    <p><i class="fa-sharp fa-solid fa-paper-plane"></i>homemate@gmail.com</p>
                    <p><i class="fa-solid fa-square-phone"></i>+65 9432 4534</p>
                    <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
                <div class="contact-right mx-auto">
                    <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button class="btn btn-lg rounded-pill" style="width: 200px; font-weight: bold; background-color: #e6b30e; color:white">
                        Submit
                    </button>
                    </form>
                    
                    <p id="msg"></p>

                </div>
            </div>
        </div>
</section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="ahbeng.js"></script>
</body>
</html>